.widget--savings {

  > div {
    color: #fff;
    background-color: #f99c00;
  }

  form, .report {
    padding: 0.5rem;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;

    label {
      margin-right: 0.25rem;
    }
    .form-control {
      flex: 1;
    }
    select {
      margin-bottom: 0;
    }
    input {
      width: auto;
    }
  }

  .report {
    border-top: 2px solid rgba(#fff, 0.5);
    text-align: right;
    padding-top: 0;
    .arrow-down {
      position: relative;
      left: 85%;
      margin-bottom: 0.75rem;
      width: 0;
      height: 0;
      border-left: 0.75rem solid transparent;
      border-right: 0.75rem solid transparent;
      border-top: 0.75rem solid rgba(#fff, 0.5);
    }
    .label {
      float: left;
    }
  }

}