.widget--savings > div {
  color: #fff;
  background-color: #f99c00; }
.widget--savings form, .widget--savings .report {
  padding: 0.5rem; }
.widget--savings .form-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem; }
  .widget--savings .form-group label {
    margin-right: 0.25rem; }
  .widget--savings .form-group .form-control {
    flex: 1; }
  .widget--savings .form-group select {
    margin-bottom: 0; }
  .widget--savings .form-group input {
    width: auto; }
.widget--savings .report {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  text-align: right;
  padding-top: 0; }
  .widget--savings .report .arrow-down {
    position: relative;
    left: 85%;
    margin-bottom: 0.75rem;
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.75rem solid rgba(255, 255, 255, 0.5); }
  .widget--savings .report .label {
    float: left; }

/*# sourceMappingURL=widget.css.map */
